.sidebar__menu li a {
	font-family: 'Bellota Text';
	padding-top:4px;
	padding-bottom:4px;
}

.sidebar__intro {
	font-family: 'Bellota Text';
	color:#555;
}
.body p {
	margin-bottom:18px;
	color:#555;
}

.body a {
	color: #69ACCE;
}


p {
	font-family: 'Bellota Text' !important;
	color:#555;
}


.myButton {
	background-color:#69ACCE;
	border-radius:0px;
	border:1px solid #69ACCE;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-weight:700;
	font-family:'Roboto Slab';
	font-size:14px;
	padding:15px 30px;
	text-decoration:none;
	width:100%;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


p strong {
	font-weight:700;
	color:#111;
}

div.page-header {
	padding:12px 40px;
}

h1.page-title {
	padding-top:30px;
	padding-bottom:12px;
	font-family: 'Roboto Slab';
	font-weight:700;
	font-size:36px;
	color:#444;

}


.sheet__slider {
	background-color:#000;
}

.sheet__slider div {
	display:flex;
	justify-content: center;
	align-items:center;
	 width:598px;
	 text-align:center;
}

.sheet__slider div img {
	display:block;
	margin:auto;
}

.sidebar__title a{
	font-size:20px;
	font-family: 'Roboto Slab';
	text-transform:none;
}

h1.sheet__title {
	font-family: 'Roboto Slab';
	font-weight:700;
}